a {
  text-decoration: none;
}

/*--- topmenu ---*/
.topmenu, .footer {
  background: #626584;
}
.topmenu.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.topmenu.navbar-dark .navbar-nav .nav-link:hover, .topmenu.navbar-dark .navbar-nav .nav-link:focus {
  color: #cccccc;
}
.menu-brand, .menu-brand>a{
  font-size: 1.5rem;
}
.menu-item {
  margin-left: 2rem;
  font-size: 1.4rem;
}

/*--- section ---*/
.section {
  font-size: 1.3rem;
  scroll-margin-top: 5rem;
}
.section-color{
  background: #e1e1ec;
}
.section h1, .section h2 {
  text-align: center;
}
.line-top {
  border-top: 1px solid #757898;
}

/*--- map ---*/
.map{
  width: 100%;
  height: 65vh;
}

/*--- weather ---*/
#weather-container {
  padding: 2rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
  border-radius: 8px;
  display: block;
  width: 50%;
  margin: 0 auto;
  color: #fff;
}

#weather-icon {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
@media all and (max-width: 976px){
  #weather-container {
    width: 100%;
  }
}

/*--- gallery ---*/
#file-input {
  margin: 1rem auto;
  display: block;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}
.gallery-btn{
  font-size: 1.5rem;
  width: 50%;
}
.thumbnail {
  width: 20%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1031;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 3rem auto 0;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media all and (max-width: 976px){
  .gallery-btn{
    width: 80%;
  }
  .thumbnail {
    width: 40%;
  }
}

/*--- footer ---*/
.footer, .footer a {
  color: #ffffff;
}
.footer a:hover {
  color: #cccccc;
}
.footer {
  font-size: 1.2rem;
}
.footer-brand {
  font-size: 1.4rem;
}
.footer-brand__link {
  margin-left: 0.3em;
}

@media all and (max-width: 1200px){
	.menu-item{ margin-left: 0.5rem; }
}
@media all and (max-width: 976px){
  .form{ padding: 0; }
}